*{
    margin:0;
    box-sizing: border-box;
}

form {
    width: 50%;
    margin: auto;
    border:2px solid #999;
    padding: 10px;
}

.main {
    height: 100vh;
    display: flex;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    border-bottom: 1px solid #999;
    padding: 10px;
}

.row {
    margin: 20px 0;
}

.row label {
    display: block;
}

.row input[type = "text"]{
    width: 60%;
}

.row select {
    width: 50%;
}

.row.date {
    display: flex;
}

.tra {
    margin-left: 200px;
}

.row span {
    display: block;
}